body{
    background-color: rgb(252, 155, 58);
    text-align: center;
    flex-direction: column;
     flex: 1;
}
  footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10;
    }